/* Variables reemplazadas */
@import url('https://fonts.googleapis.com/css?family=Anton');

.content-header>h1 {
  margin: 0;
  font-size: 24px;
  color: #e3aa00;
  font-family: 'Anton';
}

.content-header .tablero-title {
  text-align: left;
  margin-left: 0%;
  margin-bottom: 1%;
  padding-left: 0;
}

.panel{
  font-family: 'Anton';
}
.inicio{
  font-family: 'Anton';
}
.active{
  font-family: 'Anton';
}