/* Aside.css */
@import url('https://fonts.googleapis.com/css?family=Anton');

.main-sidebar {
  transition: width 0.3s;
  padding-top: 0;
  width: 222px;
  z-index: 810;
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  border-right: 2px solid #e3aa00 !important;
}


.nav-link{
  color: #fff;
    background-color: #333;
}
.brand-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  min-height: 75px;
  border-bottom: 2px solid #e3aa00 !important;
  background-color: #000000;
}

.nav-icon{
  color: #e3aa00;
  text-align: left;
  margin-left: 2%;
}


.brand-link .image {
  max-width: 84%;
  height: auto;
  transition: all 0.3s;
}


.logo-closed {
  margin-bottom: 0%;
  margin-top: -4% !important;
  max-width: 112%;
}
.brand-link .brand-image {
  float: left;
  line-height: .8;
  margin-left: .8rem;
  margin-right: .5rem;
  margin-top: -3px;
  max-height: 69px;
  width: auto;
}

.brand-image .logo-open {
  max-height: 33px;
  width: auto;
}
.sidebar-closed {
  width: 52px;
}

.sidebar-closed .brand-link .image {
  max-width: 50px;
}

.sidebar {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #000000;
}

.nav-sidebar {
  padding-top: 0rem;
}

.nav-sidebar .nav-item {
  width: 100%;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
  color: #fff;
  background: #1e282c;
}

.nav-sidebar .nav-link {
  display: flex;
  align-items: center;
  margin-left: -1%;
}

.nav-sidebar .nav-link i {
  width: 2rem;
  text-align: center;
  margin-right: 0.5rem;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #ffffff !important;
  background-color: #1e282c;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  border-top-color: transparent;
}

.nav-sidebar .nav-link p {
  margin-bottom: 0;
  transition: opacity 0.3s, visibility 0.3s;
  color: #b8c7ce;
  font-family: 'Anton';
  font-size: 14px;

}
.sidebar-closed .nav-sidebar .nav-link p {
  display: none;
}

.sidebar-closed .nav-sidebar .nav-link:hover p {
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #343a40;
  border-radius: 3px;
  z-index: 1000;
  white-space: nowrap;
}

/* Ajustes adicionales para mejorar la apariencia en modo cerrado */
.sidebar-closed .nav-sidebar .nav-item {
  display: flex;
  justify-content: center;
}

.sidebar-closed .nav-sidebar .nav-link {
  justify-content: center;
  padding: 0.5rem 0;
}

.sidebar-closed .nav-sidebar .nav-link i {
  margin-right: 0;
}

/* Navbar ajuste */
.navbar {
  border-radius: 0;
}